<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taming Thymeleaf</title>
</head>
<body>
    <h1 th:text="${pageTitle}">Taming Thymeleaf</h1>
    <div>
        <ul>
            <li th:each="scientist : ${scientists}">
                <span th:text="${scientist}"></span>
            </li>
        </ul>
    </div>
    <div th:text="|Sum of 2 + 2 = ${2 + 2}|">This is a thymeleaf page</div>
</body>
</html>